.traveler-dashboard-main {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd; }

.traveler-dashboard-main.layout {
  position: relative;
  overflow: hidden; }

.traveler-dashboard-section1__section1 {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section1__section1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.traveler-dashboard-section1__flex {
  display: flex; }

.traveler-dashboard-section1__flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 83.22%;
  margin: 67.5px auto 0px; }

.traveler-dashboard-section1__hero-title {
  display: flex;
  align-items: center;
  font: 700 48px/0.85 "Gotham", Helvetica, Arial, serif;
  color: #2f68f1;
  letter-spacing: 0px; }

.traveler-dashboard-section1__hero-title.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 2.5px 0px 8px; }

.traveler-dashboard-section1__flex-spacer {
  flex: 0 1 630px; }

.traveler-dashboard-section1__highlights {
  display: flex;
  align-items: center;
  font: 300 17px/2.94 "Gotham", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }

.traveler-dashboard-section1__highlights.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 1.5px; }

.traveler-dashboard-section1__flex-spacer1 {
  flex: 0 1 56px; }

.traveler-dashboard-section1__flex-spacer2 {
  flex: 0 1 49px; }

.traveler-dashboard-section1__highlights.layout1 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0.5px; }

.traveler-dashboard-section1__flex-spacer3 {
  flex: 0 1 41px; }

.traveler-dashboard-section1__highlights.layout2 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0.5px; }

.traveler-dashboard-section1__flex-spacer4 {
  flex: 0 1 65px; }

.traveler-dashboard-section1__highlights.layout3 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1.5px 0px 0px; }

.traveler-dashboard-section1__group {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section1__group.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 53px 0px 0px; }

.traveler-dashboard-section1__flex1 {
  display: flex;
  flex-direction: column;
  background-color: #d9e3fc; }

.traveler-dashboard-section1__flex1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.traveler-dashboard-section1__hero-title1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font: 500 50px/0.82 "Gotham", Helvetica, Arial, serif;
  color: black;
  text-align: right;
  letter-spacing: 0px; }

.traveler-dashboard-section1__hero-title1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 80.9%;
  margin: 69px auto 0px; }

.traveler-dashboard-section1__hero-title1.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 41.67%;
  margin: 75px auto 0px; }

.traveler-dashboard-section1__flex2 {
  display: flex; }

.traveler-dashboard-section1__flex2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 24.48%;
  margin: 75px 25.52% 0px 50%; }

.traveler-dashboard-section1__hero-title2 {
  display: flex;
  align-items: center;
  font: 300 50px/0.82 "Gotham", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }

.traveler-dashboard-section1__hero-title2.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.traveler-dashboard-section1__flex2-spacer {
  flex: 0 1 147px; }

.traveler-dashboard-section1__flex3 {
  display: flex; }

.traveler-dashboard-section1__flex3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 20.66%;
  margin: 27px 29.34% 72px 50%; }

.traveler-dashboard-section1__medium-title {
  display: flex;
  align-items: center;
  font: 300 24px/1.7 "Gotham", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }

.traveler-dashboard-section1__medium-title.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.traveler-dashboard-section1__flex3-spacer {
  flex: 0 1 175px; }

.traveler-dashboard-section2__section2 {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section2__section2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.traveler-dashboard-section2__box1 {
  background-color: #d9e3fc; }

.traveler-dashboard-section2__box1.layout {
  position: relative;
  height: 10px; }

.traveler-dashboard-section2__flex4 {
  display: flex; }

.traveler-dashboard-section2__flex4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 87.33%;
  margin: 132px 4.28% 0px 8.39%; }

.traveler-dashboard-section2__flex4-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 208px; }

.traveler-dashboard-section2__group {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section2__group.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.traveler-dashboard-section2__box3 {
  background-color: #d9e3fc;
  border-radius: 35px 35px 35px 35px; }

.traveler-dashboard-section2__box3.layout {
  position: absolute;
  top: 0px;
  height: 70px;
  left: 0px;
  right: 0px; }

.traveler-dashboard-section2__medium-title2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 27px/1.51 "Gotham", Helvetica, Arial, serif;
  color: #262626;
  text-align: center;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 93px;
  min-width: 93px;
  margin: 15px auto 14px; }

.traveler-dashboard-section2__flex4-spacer {
  flex: 0 1 80px; }

.traveler-dashboard-section2__group1 {
  display: flex;
  flex-direction: column;
  background-color: #d9e3fc;
  border-radius: 35px 35px 35px 35px; }

.traveler-dashboard-section2__group1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.traveler-dashboard-section2__medium-title2.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 116px;
  min-width: 116px;
  margin: 15px auto 14px; }

.traveler-dashboard-section2__flex4-spacer1 {
  flex: 0 1 708px; }

.traveler-dashboard-section2__medium-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 300 24px/1.7 "Gotham", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 15px 0px 14px; }

.traveler-dashboard-section2__flex4-spacer2 {
  flex: 0 1 5px; }

.traveler-dashboard-section2__flex4-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 41px; }

.traveler-dashboard-section2__icon {
  background: var(--src) center center/contain no-repeat; }

.traveler-dashboard-section2__icon.layout {
  position: relative;
  height: 41px;
  width: 41px;
  min-width: 41px;
  margin: 15px 0px 14px; }

.traveler-dashboard-section2__flex4-spacer3 {
  flex: 0 1 51.5px; }

.traveler-dashboard-section2__flex4-spacer4 {
  flex: 0 1 11.5px; }

.traveler-dashboard-section2__flex4-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 41px; }

.traveler-dashboard-section2__flex5 {
  display: flex; }

.traveler-dashboard-section2__flex5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 93.75%;
  margin: 2px auto 0px; }

.traveler-dashboard-section2__flex5-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 408px; }

.traveler-dashboard-section2__image3 {
  background: var(--src) center center/contain no-repeat; }

.traveler-dashboard-section2__image3.layout {
  position: relative;
  height: 400px; }

.traveler-dashboard-section2__flex5-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 150px; }

.traveler-dashboard-section2__image2 {
  background: var(--src) center center/contain no-repeat; }

.traveler-dashboard-section2__image2.layout {
  position: relative;
  height: 150px;
  margin: 166px 0px 84px; }

.traveler-dashboard-section2__flex5-spacer {
  flex: 0 1 66px; }

.traveler-dashboard-section2__flex5-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 800px; }

.traveler-dashboard-section2__flex6 {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section2__flex6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 200px 0px 4px; }

.traveler-dashboard-section2__medium-title.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 45%;
  margin: 0px 53.31% 0px 1.69%; }

.traveler-dashboard-section2__medium-title.layout2 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 85.38%;
  margin: 17px 8.69% 0px 5.94%; }

.traveler-dashboard-section2__group2 {
  display: flex;
  flex-direction: column;
  background-color: #d9e3fc; }

.traveler-dashboard-section2__group2.layout {
  position: relative;
  min-height: 80px;
  flex-shrink: 0;
  margin: 17px 0px 0px; }

.traveler-dashboard-section2__medium-title1-box {
  display: flex;
  align-items: center; }

.traveler-dashboard-section2__medium-title1-box.layout {
  position: absolute;
  top: -2px;
  height: 82px;
  left: 13px;
  width: 666px; }

.traveler-dashboard-section2__medium-title1 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 300 24px/1.7 "Gotham", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  white-space: pre-wrap; }

.traveler-dashboard-section2__medium-title1-span0 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title1-span1 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #2f68f1ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title1-span2 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title1-span3 {
  font: 700 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__group3 {
  display: flex;
  flex-direction: column;
  background-color: #2f68f1;
  border-radius: 25px 25px 25px 25px; }

.traveler-dashboard-section2__group3.layout {
  position: relative;
  height: 50px;
  width: 8.68%;
  margin: 30px 52.55% 0px 38.77%; }

.traveler-dashboard-section2__block1 {
  display: flex;
  flex-direction: row; }

.traveler-dashboard-section2__block1.layout {
  position: relative;
  height: 28px;
  width: 60px;
  min-width: 60px;
  margin: 11px 0px 0px 45px; }

.traveler-dashboard-section2__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 20px/2.04 "Gotham", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; 
  text-decoration: none;
}

.traveler-dashboard-section2__subtitle.layout {
  position: absolute;
  top: 4px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: 26.5px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.traveler-dashboard-section2__flex7 {
  display: flex; }

.traveler-dashboard-section2__flex7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 93.75%;
  margin: 242px auto 0px; }

.traveler-dashboard-section2__flex7-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 408px; }

.traveler-dashboard-section2__image4 {
  background: var(--src) center center/contain no-repeat; }

.traveler-dashboard-section2__image4.layout {
  position: relative;
  height: 493px; }

.traveler-dashboard-section2__flex7-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 150px; }

.traveler-dashboard-section2__image2.layout1 {
  position: relative;
  height: 150px;
  margin: 117px 0px 226px; }

.traveler-dashboard-section2__flex7-spacer {
  flex: 0 1 66px; }

.traveler-dashboard-section2__flex7-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 800px; }

.traveler-dashboard-section2__flex8 {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section2__flex8.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 172px 0px 51px; }

.traveler-dashboard-section2__medium-title.layout3 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 45.25%;
  margin: 0px 53.06% 0px 1.69%; }

.traveler-dashboard-section2__medium-title.layout4 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 85.38%;
  margin: 13px 8.69% 0px 5.94%; }

.traveler-dashboard-section2__group4 {
  display: flex;
  flex-direction: column;
  background-color: #d9e3fc; }

.traveler-dashboard-section2__group4.layout {
  position: relative;
  min-height: 80px;
  flex-shrink: 0;
  margin: 9px 0px 0px; }

.traveler-dashboard-section2__medium-title3-box {
  display: flex;
  align-items: center; }

.traveler-dashboard-section2__medium-title3-box.layout {
  position: absolute;
  top: 0px;
  height: 82px;
  left: 12px;
  width: 613px; }

.traveler-dashboard-section2__medium-title3 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 300 24px/1.7 "Gotham", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  white-space: pre-wrap; }

.traveler-dashboard-section2__medium-title3-span0 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title3-span1 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #2f68f1ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title3-span2 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title3-span3 {
  font: 700 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__cover-block {
  display: flex;
  flex-direction: column;
  background-color: #2f68f1;
  border-radius: 25px 25px 25px 25px; }

.traveler-dashboard-section2__cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 18.75%;
  margin: 36px 81.25% 0px 0%; }

.traveler-dashboard-section2__block2 {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section2__block2.layout {
  position: relative;
  height: 29px;
  width: 60px;
  min-width: 60px;
  margin: 10px auto 11px; }

.traveler-dashboard-section2__flex9 {
  display: flex; }

.traveler-dashboard-section2__flex9.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 93.75%;
  margin: 141px auto 0px; }

.traveler-dashboard-section2__flex9-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 408px; }

.traveler-dashboard-section2__image1 {
  background: var(--src) center center/contain no-repeat; }

.traveler-dashboard-section2__image1.layout {
  position: relative;
  height: 612px; }

.traveler-dashboard-section2__flex9-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 150px; }

.traveler-dashboard-section2__image2.layout2 {
  position: relative;
  height: 150px;
  margin: 156px 0px 306px; }

.traveler-dashboard-section2__flex9-spacer {
  flex: 0 1 58px; }

.traveler-dashboard-section2__flex9-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 808px; }

.traveler-dashboard-section2__flex10 {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section2__flex10.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 208px 0px 123px; }

.traveler-dashboard-section2__medium-title.layout5 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 42.7%;
  margin: 0px 53.71% 0px 3.59%; }

.traveler-dashboard-section2__medium-title.layout6 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 84.53%;
  margin: 23px 8.6% 0px 6.87%; }

.traveler-dashboard-section2__group5 {
  display: flex;
  flex-direction: column;
  background-color: #d9e3fc; }

.traveler-dashboard-section2__group5.layout {
  position: relative;
  min-height: 80px;
  flex-shrink: 0;
  margin: 11px 0px 0px 8px; }

.traveler-dashboard-section2__medium-title4-box {
  display: flex;
  align-items: center; }

.traveler-dashboard-section2__medium-title4-box.layout {
  position: absolute;
  top: -1px;
  height: 82px;
  left: 13px;
  width: 697px; }

.traveler-dashboard-section2__medium-title4 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 300 24px/1.7 "Gotham", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  white-space: pre-wrap; }

.traveler-dashboard-section2__medium-title4-span0 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title4-span1 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #2f68f1ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title4-span2 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title4-span3 {
  font: 700 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__cover-block1 {
  display: flex;
  flex-direction: column;
  background-color: #2f68f1;
  border-radius: 25px 25px 25px 25px; }

.traveler-dashboard-section2__cover-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 18.56%;
  margin: 35px 81.44% 0px 0%; }

.traveler-dashboard-section2__block1.layout1 {
  position: relative;
  height: 28px;
  width: 60px;
  min-width: 60px;
  margin: 11px auto; }

.traveler-dashboard-section2__subtitle.layout1 {
  position: absolute;
  top: -6px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  left: -26px;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.traveler-dashboard-section2__flex11 {
  display: flex; }

.traveler-dashboard-section2__flex11.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 93.75%;
  margin: 61px auto 0px; }

.traveler-dashboard-section2__flex11-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 408px; }

.traveler-dashboard-section2__flex11-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 150px; }

.traveler-dashboard-section2__image2.layout3 {
  position: relative;
  height: 150px;
  margin: 156px 0px 306px; }

.traveler-dashboard-section2__flex11-spacer {
  flex: 0 1 66px; }

.traveler-dashboard-section2__flex11-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 800px; }

.traveler-dashboard-section2__flex12 {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section2__flex12.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 218px 0px 113px; }

.traveler-dashboard-section2__medium-title.layout7 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 42.63%;
  margin: 0px 54.5% 0px 2.88%; }

.traveler-dashboard-section2__medium-title.layout8 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 85.38%;
  margin: 17px 8.69% 0px 5.94%; }

.traveler-dashboard-section2__group6 {
  display: flex;
  flex-direction: column;
  background-color: #d9e3fc; }

.traveler-dashboard-section2__group6.layout {
  position: relative;
  min-height: 80px;
  flex-shrink: 0;
  margin: 17px 0px 0px; }

.traveler-dashboard-section2__medium-title5-box {
  display: flex;
  align-items: center; }

.traveler-dashboard-section2__medium-title5-box.layout {
  position: absolute;
  top: 0px;
  height: 82px;
  left: 12px;
  width: 500px; }

.traveler-dashboard-section2__medium-title5 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 300 24px/1.7 "Gotham", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  white-space: pre-wrap; }

.traveler-dashboard-section2__medium-title5-span0 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title5-span1 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #2f68f1ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title5-span2 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title5-span3 {
  font: 700 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__cover-block.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 18.75%;
  margin: 35px 81.25% 0px 0%; }

.traveler-dashboard-section2__block2.layout1 {
  position: relative;
  height: 29px;
  width: 60px;
  min-width: 60px;
  margin: 11px auto 10px; }

.traveler-dashboard-section2__flex13 {
  display: flex; }

.traveler-dashboard-section2__flex13.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 93.75%;
  margin: 61px auto 0px; }

.traveler-dashboard-section2__flex13-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 408px; }

.traveler-dashboard-section2__flex13-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 150px; }

.traveler-dashboard-section2__image2.layout4 {
  position: relative;
  height: 150px;
  margin: 156px 0px 306px; }

.traveler-dashboard-section2__flex13-spacer {
  flex: 0 1 58px; }

.traveler-dashboard-section2__flex13-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 808px; }

.traveler-dashboard-section2__flex14 {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section2__flex14.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 211px 0px 124px; }

.traveler-dashboard-section2__medium-title.layout9 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 45.67%;
  margin: 0px 51.61% 0px 2.72%; }

.traveler-dashboard-section2__medium-title.layout10 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 84.53%;
  margin: 11px 8.54% 0px 6.93%; }

.traveler-dashboard-section2__group7 {
  display: flex;
  flex-direction: column;
  background-color: #d9e3fc; }

.traveler-dashboard-section2__group7.layout {
  position: relative;
  min-height: 80px;
  flex-shrink: 0;
  margin: 20px 0px 0px 8px; }

.traveler-dashboard-section2__medium-title6-box {
  display: flex;
  align-items: center; }

.traveler-dashboard-section2__medium-title6-box.layout {
  position: absolute;
  top: 0px;
  height: 82px;
  left: 12px;
  width: 619px; }

.traveler-dashboard-section2__medium-title6 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 300 24px/1.7 "Gotham", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px;
  white-space: pre-wrap; }

.traveler-dashboard-section2__medium-title6-span0 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title6-span1 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #2f68f1ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title6-span2 {
  font: 300 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title6-span3 {
  font: 700 1em/1.7 "Gotham", Helvetica, Arial, serif;
  color: #000000ff;
  letter-spacing: 0px; }

.traveler-dashboard-section2__cover-block.layout2 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 18.56%;
  margin: 34px 81.44% 0px 0%; }

.traveler-dashboard-section2__section2-item {
  display: flex;
  flex-direction: column;
  position: relative; }

.traveler-dashboard-section2__group8 {
  display: flex;
  flex-direction: column;
  background-color: #2f68f1;
  border: 2px solid #c4c4c4; }

.traveler-dashboard-section2__group8.layout {
  position: relative;
  height: 80px;
  width: 12.67%;
  margin: 48px auto 86px; }

.traveler-dashboard-section2__medium-title11 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 500 27px/1.51 "Gotham", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px; }

.traveler-dashboard-section2__medium-title11.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  min-width: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 19px auto 0px; }

.traveler-dashboard-section3__section3 {
  display: flex; }

.traveler-dashboard-section3__section3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.traveler-dashboard-section3__section3-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 1 576px; }

.traveler-dashboard-section3__content-box1 {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd; }

.traveler-dashboard-section3__content-box1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.traveler-dashboard-section3__hero-title {
  display: flex;
  align-items: center;
  font: 700 48px/0.85 "Gotham", Helvetica, Arial, serif;
  color: #2f68f1;
  letter-spacing: 0px; }

.traveler-dashboard-section3__hero-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 49.65%;
  margin: 73px auto 0px; }

.traveler-dashboard-section3__medium-title {
  display: flex;
  align-items: center;
  font: 300 24px/1.7 "Gotham", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0px; }

.traveler-dashboard-section3__medium-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 49.65%;
  margin: 193px auto 108px; }

.traveler-dashboard-section3__content-box {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd; }

.traveler-dashboard-section3__content-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.traveler-dashboard-section3__big-title {
  display: flex;
  align-items: center;
  font: 500 30px/1.36 "Gotham", Helvetica, Arial, serif;
  color: #061a4b;
  letter-spacing: 0px; }

.traveler-dashboard-section3__big-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 77.78%;
  margin: 65px auto 0px; }

.traveler-dashboard-section3__medium-title.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 77.78%;
  margin: 35px auto 0px; }

.traveler-dashboard-section3__medium-title.layout2 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 77.78%;
  margin: 33px auto 0px; }

.traveler-dashboard-section3__medium-title.layout3 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 77.78%;
  margin: 33px auto 0px; }

.traveler-dashboard-section3__medium-title.layout4 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 77.78%;
  margin: 33px auto 52px; }

.traveler-dashboard-section3__cover-block4 {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd; }

.traveler-dashboard-section3__cover-block4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.traveler-dashboard-section3__flex15 {
  display: flex;
  flex-direction: column; }

.traveler-dashboard-section3__flex15.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 65px 35px; }

.traveler-dashboard-section3__big-title.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.traveler-dashboard-section3__medium-title.layout5 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 35px 0px 0px; }

.traveler-dashboard-section3__flex16 {
  display: flex; }

.traveler-dashboard-section3__flex16.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 33px 0px 135px; }

.traveler-dashboard-section3__medium-title.layout6 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.traveler-dashboard-section3__flex16-spacer {
  flex: 0 1 15px; }

.traveler-dashboard-section3__flex16-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 13px; }

.traveler-dashboard-section3__image {
  background: var(--src) center center/contain no-repeat; }

.traveler-dashboard-section3__image.layout {
  position: relative;
  height: 14px;
  width: 13px;
  min-width: 13px;
  margin: 13px 0px 14px; }
